
.layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: rgb(60, 60, 60);
    justify-content: space-between;

}
.cabecalho a {
    background-color: brown;
    padding: 5px 12px;
    border-radius: 5px;
}
.cabecalho h1{
    margin: 0;
    font-size: 1.4rem;
}
.conteudo{
    padding: 25px;
    height: 100%;
}